@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: make text readable in dark mode */
body {
  @apply text-gray-900 dark:text-gray-100 bg-gray-100 dark:bg-gray-900;
}

/* Scrollbar for dark theme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-600 dark:bg-gray-700 rounded;
}
